<ion-header>
 
        <ion-navbar >
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
           
            <ion-title>
                <ion-icon name="icone-logo"></ion-icon>
            </ion-title>
            <ion-buttons end>
                <button ion-button icon-only (click)="showCheckbox()">
                    <img *ngIf="isEN" src="assets/imgs/Bandeira_1.png"/>
                    <img *ngIf="isPT" src="assets/imgs/Bandeira_2.png"/>
                    <img *ngIf="isIT" src="assets/imgs/Bandeira_3.png"/>
                    <img *ngIf="isDE" src="assets/imgs/Bandeira_4.png"/>
                    <img *ngIf="isFR" src="assets/imgs/Bandeira_5.png"/>
                    <img *ngIf="isES" src="assets/imgs/Bandeira_6.png"/>
                </button>
             
            </ion-buttons>
        </ion-navbar>
      
      </ion-header>
      
      
      <ion-content class="fundo">
       
          <div >
              <div class="logo_home">
                    <img src="assets/imgs/0YCNfH79RwanY6W3GTye_Logo_white.png"/>
                    <p>{{title}}</p>
              </div>
               
            <!-- <ion-card >
                
                <ion-card-content>
                  <ion-card-title>
                    
                    </ion-card-title>
                 
                </ion-card-content>
              </ion-card> -->
              <form id="home-form1">
                  <ion-card-content>
                      <ion-grid>
                          <ion-row>
                              <ion-col col-12>
                                  <ion-item id="home-input1" ng-model="movie.name" class="search_code">
                                      <ion-label></ion-label>
                                      <ion-input type="text" placeholder="DIGITE O CODE"   round  [(ngModel)]="codeNumber" name="code"></ion-input>
                                  </ion-item>
                              </ion-col>
                              <ion-col col-12 class="info-servico">
                                  <button id="home-button1" ion-button color="danger" round block icon-left (click)="pushPage()" >
                                     <!--  <ion-icon name="navigate"></ion-icon>  -->
                                      {{button}}
                                    </button>
                              </ion-col>
                          </ion-row>
                      </ion-grid>
                  </ion-card-content>
              </form>
            
         </div>
         
      </ion-content>
      <!-- CONTENT -->
<!-- FOOTER -->
<ion-footer *ngIf="footerIsHidden">
    <ion-toolbar >
        <ion-grid>
            <ion-row>
                <ion-col col-3>
                   
                      <div class="adquire-code" (click)="pushPagePesquisa()">
                            <span class="title-share">{{pesquisa}}</span>
                      </div>
                </ion-col>
                <ion-col col-1>
                        |
                  
                </ion-col>
                <ion-col col-4>
                        <div class="adquire-code" (click)="shopcode()">
                                <span class="title-share">{{adquira}}</span>
                        </div>
                  
                </ion-col>
                <ion-col col-1>
                        |
                  
                </ion-col>
                <ion-col col-3>
                    <div class="adquire-code" (click)="pushPageCode()">
                        <span class="title-share">KSCODE</span>
                    </div>
                </ion-col>
            </ion-row>
         
        </ion-grid>
    </ion-toolbar>
</ion-footer> 
<!-- FOOTER -->
      